spring.jpa.database=POSTGRESQL
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://localhost:5050/agenciaviagens
spring.datasource.username=
spring.datasource.password=
server.port=8080